/* form div {
  visibility: hidden;
} */
#radioOne {
visibility: visible;
}
body {
  text-align: center;
}
label {
  display: block;
}
div.radio {
  margin: 35px;
  text-align: center;
}
#CSSTrack, #php, #java, #python, #java2, #csharp {
  display: none;
  font-weight: bold;
  color: blue;
}
