body {
  text-align: center; 
}
form {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: monospace;
  font-size: 22px;
  background-color: lightcyan;
  border-radius: 3%;
}
label {
  display: block;
}
div.radio {
  margin: 35px;
  text-align: center;
}
.answer {
  font-weight: bold;
  color: navy;
  font-size: 26px;
}

